
/* General fonts */

@font-face {  
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {  
  font-family: 'Merriweather Sans';
  src: url('../fonts/merriweather/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'Merriweather Sans Light';
  src: url('../fonts/merriweather/MerriweatherSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'Merriweather Sans Bold';
  src: url('../fonts/merriweather/MerriweatherSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'Merriweather Sans Extra Bold';
  src: url('../fonts/merriweather/MerriweatherSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*---------------------------------------------------
	Import Colorfonts
---------------------------------------------------*/

/* DIN OSP Base font */
@font-face {  
  font-family: 'Din OSP';
  src: url('../fonts/din/DIN_OSP-Original.eot');
  src: url('../fonts/din/DIN_OSP-Original.eot?iefix') format('eot'),
       url('../fonts/din/DIN_OSP-Original.woff') format('woff'),
       url('../fonts/din/DIN_OSP-Original.ttf') format('truetype'),
          url('../fonts/din/DIN_OSP-Original.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* DIN OSP overlay font */
@font-face {
  font-family: 'Din Overlay';
  src: url('../fonts/din/DIN_OSP-OverlayOne.eot');
  src: url('../fonts/din/DIN_OSP-OverlayOne.eot?iefix') format('eot'),
       url('../fonts/din/DIN_OSP-OverlayOne.woff') format('woff'),
       url('../fonts/din/DIN_OSP-OverlayOne.ttf') format('truetype'),
          url('../fonts/din/DIN_OSP-OverlayOne.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Josefin Slab */

@font-face {
  font-family: 'JosefinSlab Regular';
  src: url('../fonts/josefin/JosefinSlabRegular.eot');
  src: url('../fonts/josefin/JosefinSlabRegular.eot?iefix') format('eot'),
       url('../fonts/josefin/JosefinSlabRegular.woff') format('woff'),
       url('../fonts/josefin/JosefinSlabRegular.ttf') format('truetype'),
          url('../fonts/josefin/JosefinSlabRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSlab Regular Overlay';
  src: url('../fonts/josefin/JosephineSlabOverlay.eot');
  src: url('../fonts/josefin/JosephineSlabOverlay.eot?iefix') format('eot'),
       url('../fonts/josefin/JosephineSlabOverlay.woff') format('woff'),
       url('../fonts/josefin/JosephineSlabOverlay.ttf') format('truetype'),
          url('../fonts/josefin/JosephineSlabOverlay.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSlab Bold';
  src: url('../fonts/josefin/JosefinSlabBold.eot');
  src: url('../fonts/josefin/JosefinSlabBold.eot?iefix') format('eot'),
       url('../fonts/josefin/JosefinSlabBold.woff') format('woff'),
       url('../fonts/josefin/JosefinSlabBold.ttf') format('truetype'),
          url('../fonts/josefin/JosefinSlabBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* DIN OSP overlay font */
@font-face {
  font-family: 'Din Overlay';
  src: url('../fonts/din/DIN_OSP-OverlayOne.eot');
  src: url('../fonts/din/DIN_OSP-OverlayOne.eot?iefix') format('eot'),
       url('../fonts/din/DIN_OSP-OverlayOne.woff') format('woff'),
       url('../fonts/din/DIN_OSP-OverlayOne.ttf') format('truetype'),
          url('../fonts/din/DIN_OSP-OverlayOne.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Reglo */

@font-face {
  font-family: 'Reglo';
  src: url('../fonts/Reglo/Reglo-Bold.eot');
  src: url('../fonts/Reglo/Reglo-Bold.eot?iefix') format('eot'),
       url('../fonts/Reglo/Reglo-Bold.woff') format('woff'),
       url('../fonts/Reglo/Reglo-Bold.ttf') format('truetype'),
          url('../fonts/Reglo/Reglo-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reglo First Overlay';
  src: url('../fonts/Reglo/Reglo-Bold-OverlayUn.eot');
  src: url('../fonts/Reglo/Reglo-Bold-OverlayUn.eot?iefix') format('eot'),
       url('../fonts/Reglo/Reglo-Bold-OverlayUn.woff') format('woff'),
       url('../fonts/Reglo/Reglo-Bold-OverlayUn.ttf') format('truetype'),
          url('../fonts/Reglo/Reglo-Bold-OverlayUn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reglo Second Overlay';
  src: url('../fonts/Reglo/Reglo-Bold-OverlayDeux.eot');
  src: url('../fonts/Reglo/Reglo-Bold-OverlayDeux.eot?iefix') format('eot'),
       url('../fonts/Reglo/Reglo-Bold-OverlayDeux.woff') format('woff'),
       url('../fonts/Reglo/Reglo-Bold-OverlayDeux.ttf') format('truetype'),
          url('../fonts/Reglo/Reglo-Bold-OverlayDeux.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*---------------------------------------------------
	Workshop Colorfonts
---------------------------------------------------*/

@font-face {  
  font-family: 'Changa One';
  src: url('../fonts/workshop-lgm2012/ChangaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'Oblique Overlay';
  src: url('../fonts/workshop-lgm2012/ObliqueOverlay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'League Gothic';
  src: url('../fonts/workshop-lgm2012/LeagueGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'Glifinglif Overlay';
  src: url('../fonts/workshop-lgm2012/GlifinglifOverlay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  
  font-family: 'Beak Overlay';
  src: url('../fonts/workshop-lgm2012/BeakOverlay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}










