/*---------------------------------------------------
	General
---------------------------------------------------*/

html {
  height: 100%;
}

body {
  font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
	font-size: 120%;
	line-height: 1.2em;
  color: #666;
  position: relative;
	height: 100%;
	background: #e7e0d3;
  color: #4f4530;
}

#topnav > .container,
#header,
#main,
#footer > .wrapper {
	clear: both;
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}

a {
  color: #1e7ec5;
  text-decoration: none;
}

.workshop a {
  color: #A14016;
}

/*---------------------------------------------------
	Fonts and sizes
---------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { font-family: "Merriweather Sans Light", Arial, Helvetica, sans-serif; }

h1 { font-size: 80px; line-height: 1; }

h2 { font-size: 1em; line-height: 1; }

h3 { font-size: 2em; line-height: 1; }

h4 { font-size: 0.9em; }

#header, #main { font-size: .75em; }

#topnav { font-size: .65em; line-height: 1; }

#footer { font-size: .65em; }

/*---------------------------------------------------
	Topnav
---------------------------------------------------*/

#topnav {
	text-transform: uppercase;
	letter-spacing: 1px;
}

#topnav a.logo {
	display: block;
	float: left;
	background: transparent url(../img/manufacturaindependente.png) no-repeat 0 3px;
	padding: 10px 0 10px 30px;
}

#topnav ul {
	display: block;
  float: right;
}

#topnav li {
	display: block;
  float: left;
}

#topnav a {
	display: block;
	padding: 10px;
  color: #4f4530;
}


/*---------------------------------------------------
	Header
---------------------------------------------------*/

#header{
	text-transform: uppercase;
	margin: 30px auto;
	padding: 10px 0 20px;
  border-bottom: 1px solid #baa780;
}

#header > hgroup {
	float: left;
	width: auto;
	margin-right: 40px;
}

#header h1.colorfont {
  color: #baa780;
  font-family: 'Reglo' !important;
  font-weight: normal;
}

#header h1 .colorfont-overlay {
  color: #1e7ec5;
  font-family: 'Reglo First Overlay' !important;
}

#header h2 {
	font-weight: normal;
	letter-spacing: 1px;
	margin: 8px 0 20px;
}

#header ul {
	display: block;
	float: right;
	padding: 0 10px;
}

#header .download li {
	margin: 0 0 5px 0;
}

#header .download a {
	display: block;
  text-align: center;
	background: #4f4530;
	color: #baa780;
  padding: 10px 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.6);
}

/*---------------------------------------------------
	Main
---------------------------------------------------*/

#main section {
	width: 310px;
	float: left;
  margin: 10px 0 10px 35px;
  padding: 20px 0 30px;
}

	#main > section.clear { margin-left: 0; clear: left; }

#main h3.colorfont {
  color: #726445;
  font-family: 'Reglo' !important;
	text-transform: uppercase;
}

#main h3 .colorfont-overlay {
  color: #4f4530;
  font-family: 'Reglo First Overlay' !important;
}

#main p,
#main ul {
  margin: 12px 0 0;
}


#main pre {
  padding: 5px;
  background: #baa780;
  font-family: Inconsolata, 'DejaVu Sans Mono', Monaco, Courier, monospace;
  font-size: 13px;
  line-height: 1;
  margin: 10px 0 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#main pre code {
  display: block;
  padding: 0;
  overflow: hidden;
}

#main del {
  color: #ccc;
}

#main li {
  margin: 0 0 8px;
}

#main .download li a {
	display: block;
  text-align: center;
	background: #4f4530;
	color: #baa780;
  padding: 10px 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.6);
}

#main .download li a:hover {

}

/*---------------------------------------------------o
	Footer
---------------------------------------------------*/

#footer {
  margin-top: 30px;
  text-align: center;
  padding: 0 0 40px;
}
