/*---------------------------------------------------
	General
---------------------------------------------------*/

html {
  height: 100%;
}

body {
  font-family: Merriweather, Georgia, Times, serif;
	font-size: 125%;
	line-height: 1.2em;
  color: #666;
  position: relative;
	height: 100%;
}

#header,
#footer > .wrapper, 
#main section {
	clear: both;
	width: 700px;
	margin: 0 auto;
}

a {
  color: #CC883A;
  text-decoration: none;
}

.workshop a {
  color: #A14016;
}

/*---------------------------------------------------
	Fonts and sizes
---------------------------------------------------*/

h1 { font-size: 4.5em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.1em; }

h4 { font-size: 0.9em; }

p { font-size: .75em; }

#footer > p { font-size: .65em; }

/*---------------------------------------------------
	Header
---------------------------------------------------*/

#header{
	text-transform: uppercase;
	text-align: center;
	padding: 30px 0 5px;
  border-bottom: 1px dotted #B5ACA5;
}

#header h1.colorfont {
  color: #89A194;
  font-family: 'JosefinSlab Regular' !important;
  font-weight: normal;
  line-height: 1;
  border-bottom: 1px dotted #B5ACA5;
}

#header h1 .colorfont-overlay {
  color: #B5ACA5;
  font-family: 'JosefinSlab Regular Overlay' !important;
}

#header h2 {
  color: #89A194;
  font-family: 'JosefinSlab Bold';
  font-size: 1.15em;
  line-height: 1;
	letter-spacing: .05em;
	margin: 8px 0 3px;
}

/*---------------------------------------------------
	Main
---------------------------------------------------*/

#main section {
  margin: 10px auto;
  padding: 20px 0 30px;
  border-bottom: 1px dotted #ddd;
}


#main h3.colorfont {
  color: #aaa;
  font-family: 'Din OSP' !important;
  font-size: 3em;
  line-height: 1;
}

#main h3 .colorfont-overlay {
  color: #ccc;
  font-family: 'Din Overlay' !important;
}

#main p,
#main ul {
  margin: 12px 0 0;
}


#main pre {
  padding: 5px;
  background: #eee;
  font-family: Inconsolata, 'DejaVu Sans Mono', Monaco, Courier, monospace;
  font-size: 13px;
  line-height: 1;
  margin: 10px 0 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#main pre code {
  display: block;
  padding: 0;
  overflow: hidden;
}

#main del {
  color: #ccc;
}

#main li {
  margin: 0 0 8px;
}

.download li a {
  display: block;
  max-width: 200px;
  text-align: center;
  color: #CFC89A;
  background: #CC883A;
  padding: 10px 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.download li a:hover {
  background: #A14016;
}


/*---------------------------------------------------o
	Footer
---------------------------------------------------*/

#footer {
  margin-top: 30px;
  text-align: center;
  padding: 0 0 40px;
}


/*---------------------------------------------------
	Workhops page
---------------------------------------------------*/

.workshop {
  background: #89A194 url(../img/bg-texture-dark.png) repeat 0 0;
  color: #322938;
}

.workshop #header h1.colorfont {
  font-size: 2em;
  color: #322938;
}

.workshop #header h1 .colorfont-overlay {
  color: #1C7085;
}

.workshop #header h2 {
  color: #322938;
  font-size: 0.9em;
}
  
#main .sample {
  padding: 20px 0 0;
  border: 0;
  border-bottom: 5px solid #322938;
}

.sample h4 {
  position: relative;
  border-bottom: 5px solid #322938;
}

.sample .download {
  color: #CC883A;
  background: #322938;
  font-family: 'DejaVu Sans', Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#main .sample p.colorfont {
  color: #A14016;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #CFC89A;
  text-align: center;
  border-top: 15px solid #CFC89A;
  border-bottom: 15px solid #CFC89A;
  margin: 0;
}

.sample p .colorfont-overlay {
  color: #CC883A;
}

.simonbudig p.colorfont {
  font-family: 'Changa One' !important;
}

.simonbudig p .colorfont-overlay {
  font-family: 'Oblique Overlay' !important;
}

#main .joaobueno p.colorfont {
  font-family: 'League Gothic' !important;
  font-size: 72px;
}

.joaobueno p .colorfont-overlay {
  font-family: 'Glifinglif Overlay' !important;
}

.claudiakrummenacher p.colorfont {
  font-family: 'League Gothic' !important;
}

.claudiakrummenacher p .colorfont-overlay {
  font-family: 'Beak Overlay' !important;
}














